{% extends 'base.html' %}

{% block content %}
    <div class="ip_div">
        <h1>{% block title %} Your IP {% endblock %}</h1>
        <h2>{{ requester_ip }}</h2>
    </div>
    <div class="ip_div">
        <h1> IP from Load Balancer </h1>
        <h2>{{ load_balancer_ip }}</h2>
    </div>
    <div class="ip_div">
        <h1> Simple Reversed IP </h1>
        <h2>{{ reversed_requester_ip }}</h2>
    </div>
    <div class="ip_div">
        <h1> Proper Reversed IP </h1>
        <h2>{{ reversed_requester_ip_patched }}</h2>
    </div>
    <div class="redis">
        <h1>Current Redis data</h1>
    </div>
    <div class="redis_data">
        {% for post in redis_data %}
            <p>{{ post }}</p>
        {% endfor %}
    </div>
{% endblock %}
